Repository Living-with-machines/jisc-wrangler: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy --install-types --non-interactive
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint --rcfile=.python-lint
  language: system

flake8:
  name: Flake8
  entry: poetry run flake8
  language: system

Adds tests for utils
  tests/test_logutils.py
  tests/test_utils.py
  tests/utils_test.py
Due: black, isort

adds tests for logutils
  jisc_wrangler/logutils.py
  poetry.lock
  pyproject.toml
  tests/test_logutils.py
Due: black, isort, mypy, pylint, flake8

Changed file name to fix circular import
  jisc_wrangler/jisc_plain_wrangler.py
Due: black, isort, mypy, pylint, flake8

Updated import name
  tests/jisc_wrangler_test.py
Due: black, isort

Starts docs development
  README.md
Due: none

Adds readme docs for jisc_wrangler.py
  README.md
Due: none

Adds further information
  README.md
Due: none

replaces script names with file links
  README.md
Due: none

corrects file link name
  README.md
Due: none

Adds emojis
  README.md
Due: none

Update README.md
  README.md
Due: none

Change name
  jisc_wrangler/jisc_path_wrangler.py
  tests/jisc_wrangler_test.py
Due: black, isort, mypy, pylint, flake8

removed TODO in code
  tests/jisc_wrangler_test.py
Due: black, isort

Makes logs go to working dir
  jisc_wrangler/logutils.py
  tests/test_logutils.py
Due: black, isort, mypy, pylint, flake8

Adds working_dir for log files of jisc_alto2tx_wrangler
  jisc_wrangler/jisc_alto2txt_wrangler.py
Due: black, isort, mypy, pylint, flake8

Added tests action
  .github/workflows/test.yml
Due: none

Changed action branches
  .github/workflows/test.yml
Due: none

Made recommended changes to the README text.
  README.md
Due: none

Fix typo in README.md
  README.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^tests
  pylint: any of: \.py$, but not: ^tests
  flake8: any of: \.py$, but not: ^tests
